/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrappera {
   
    max-width: 100%;
    margin: auto;  
}
.wrapper {
    padding: 20px;
    max-width: 100%;
    margin: auto;  
    
}
body {
    font-family: 'Open Sans'; 
    line-height: 1.5;
    font-size: 17px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 20px;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 1.5rem;
    font-weight: 700;
}


/* Header Section */
.header-container {
    background-color: #222;
    padding: 20px;
    
}
.logo {
    background-color: #c78c06;
}

nav {
    text-align: center;
}

ul li {
    width: 100%;
    overflow:auto;
    height: 50px;
   
}
ul li a {
    
    color: #c78c06;
    text-decoration: none;
}
ul li:first-child {
    
    background-color: #c78c06;
    color: #222;
}
.active {
    background-color: #c78c06;
    color: #222;
}
#input {
    width: 90%;
    height: 30px;
}
#button {
    width:9%;
    height: 30px;
    border: 1px solid #c78c06;
    border-left: none;
    background-color: #222;
    color: #c78c06;
    font-size: large;
}
.search {
    display: flex;
}
 
/* Welcome Section */
.welcome {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    display: flex;
    align-items: center;
    
}
.welcome-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    
}
.welcome-content p {
        padding: 20px;
        color: white;
}
.welcome-content h1 {
    color: white;
}
.connectbutton {
    text-decoration: none;
    color: #222;
    background-color: #c78c06;
    padding: 15px;
    margin: 20px;
}

/* About Section */
.about {
    background-color: #ffe6ac;
}
#about-us {
    width: 100%;
    padding: 10px 10px;
}
.about-content {
    padding: 10px 10px;
}
.about-text {
    padding-left: 10px;
}

/* Service Section */
.service-content {
    padding: 20px 0px 20px 20px;
    
}
#digital img {
    width: 100%;
    
}
#marketing img {
    width: 100%;
    
}
#digital img {
    width: 100%;
    
}
#production img {
    width: 100%;
    
}
#web img {
    width: 100%;
    
}
#print img {
    width: 100%;
    
}
#print {
    background-color: #ffe6ac;
    
}
#web {
    background-color: #ffe6ac;
}
#production {
    background-color: #ffe6ac;
}
#marketing {
    background-color: #ffe6ac;
}
#digital {
    background-color: #ffe6ac;
}
.service-button {
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 15px;
}

/* Vision section */
.vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position: center;
   width: 100%;
   height: 400px;

}
.vision-background {
    color: white;
    padding: 50px;
    
}
.visionbutton {
    text-decoration: none;
    color:white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid #c78c06;
}

/* Team section*/

.team img {
    width: 100%;
}
.position {
    font-weight: bold;
    width: 100%;
}
hr {
    color: #c78c06;
}
.two {
    padding: 10px;
    background-color: #ffe6ac;
}
.four {
    padding: 10px;
    background-color: #ffe6ac;
}

/* Contact Section */
#messagebox {
    width: 100vw; /* Set the width of 70% of the viewport width */
    max-width: 100%; /* Ensure box does not exceed 100% of the .wrapper */
}
#name {
    height: 30px;
    max-width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 100vw;
}

#email {
    width: 100vw;
    height: 30px;
    max-width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
}

#message {
    width: 100vw;
    max-width: 100%;
    height: 120px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.send-button {
    background-color:#222;
    color:#c78c06;
    padding: 10px 10px;
    font-size: 17px;
    cursor: pointer; /* Change the cursor to pointer when click on the button */
}

.hour {
    width: 50vw;
    height: 30px;
    border: 1px solid #222;
    padding: 20px;
   
}
.head {
    border: 1px solid #222;
    background-color: #ffe6ac;
   
}
.day {
    width: 50vw;
    height: 30px;
    border: 1px solid #222;
    padding: 20px;
    margin: 20px;
}
.body {
   
    max-width: 100%;
    width: 100vw;
    border: 1px solid #222;
}

/* Footer section */
.footer {
    background-color: #222;
    color: #c78c06;
   
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #c78c06;
    
}

@media screen and (min-width: 760px) {
    .logo {
        display: inline;
        padding: 10px;
       
    }
    nav ul li {
        display: inline-block;
        width: 120px;
        height: 50px;
        padding: 10px 10px 10px 10px;
    }
    
    
    #input {
        width: 100%;
        height: 30px;
    }
    #button {
        width:20%;
        height: 30px;
        border: 1px solid #c78c06;
        border-left: none;
        background-color: #222;
        color: #c78c06;
        font-size: large;
        
    }
    .search {
        display: flex;
    }
    .header-container {
        display:flex;
        margin: auto;
        width: 1200px;
        max-width: 100%;
        justify-content: space-evenly; /* de tao khoang cach giua cac items bang nhau*/
        align-items: center; /* de sap xep align cac items deu nhau chinh giua*/
    }

    .wrappera {
        background-color: #222;
        
    }
   
    .wrapper {
        padding: 20px;
        max-width: 1200px;
        margin: auto;  
    }
    .welcome-content {
        padding: 40px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        max-width: 1200px;
        margin: auto; 
        
    }
    /* Welcome Section */
.welcome {
    background-image: url(../images/main-banner.jpg);
    width: 100%;
    height: 600px;
}
.welcome-content {
  padding-top: 150px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 500px;
    background-clip:content-box;
   
}
.connectbutton {
    text-decoration: none;
    color: #222;
    background-color: #c78c06;
    padding: 15px;
}

/* About Section */
.about {
    background-color: #ffe6ac;
}
#about-us {
    width: 600px;
}
.about-content {
    display: flex;
    padding: 10px;
    max-width: 1200px;
    margin: auto;  
}
.about-text {
  padding-left: 10px;
}

/* Service Section */

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    gap: 1em;
  

}

.services {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.digital {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.marketing {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.production {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.web {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.print {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
/*our team */
.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    gap: 1em;
}

.ourteam {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.four {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
/* contact*/
.contact {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
}
#contact {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.contact-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#messagebox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#messagebox {
    width: 600px; 
    
}
.location {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#loca {
    width: 580px;

}
.hours {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* Vision */
.vision-background {
    width: 1200px;
    margin: auto;
}
}

   